.SongTile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border: 2px solid;
    background-color: rgb(112, 54, 54);
    padding: 20px;

    .song-info {
        grid-column: span 2;

        & h4 {
            margin-bottom: 10px;
            color: rgb(174, 184, 204);
        }

        text-align: left;
        margin-left: 15px;
    }

    .song-image {
        align-self: center;
        justify-self: center;
    }

    .sng-img {
        // aspect-ratio: 100 / 135 ;
        height: 500px;
        width: 400px;

    }



}