.App {
  text-align: center;
}

.search-btn {
  margin-top: 10px;
  padding: 0.5rem 2rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  color: rgb(174, 184, 204);
  background-color: #272421;
  border-color: #272421;
}

.pagination {
  border-radius: 25px;
  padding: 10px;

  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-self: center;
  list-style: none;
  cursor: pointer;
  background-color: rgb(48, 39, 155);
  width: 400px;
}

.pagination a {
  font-size: medium;
  padding: 10px;
  // border: 5px solid rgb(0, 0, 0);
  color: rgb(174, 184, 204);
}

.pagination__link {
  font-weight: bolder;
}

.pagination__link--active a {
  background: rgb(204, 199, 199);
  color: rgb(0, 78, 234);
}

.pagination__link--disabled a {
  // border: 1px solid rgb(0, 0, 0);
  color: rgb(174, 184, 204);
}